{% load static %}
<footer>
    <div class="container">
        <h3>World's largest collection of Creative Indian images & videos</h3>
        <div class="row mt-5">
            <div class="col-md-6 col-sm-6 col-6">
                <h5>All India Toll Free: 1800-11-6869</h5>
                <img src="{% static 'images/footer.png'%}" class="img-fluid" alt="">
                <h5>© ImagesBazaar.com. A division of Mash Audio Visuals Pvt. Ltd. All rights reserved.</h5>
            </div>
            <div class="col-md-2 col-sm-12 col-6">
                <h5> Company Info</h5>
                <p> Home</p>
                <p> About Us</p>
                <p> Testimonials</p>
                <p> Image Research</p>

            </div>
            <div class="col-md-2 col-sm-12 col-6">
                <h5>Learn More</h5>
                <p>Pricing</p>
                <p> Licensing</p>
                <p> Terms of Use</p>
                <p>Privacy Policy</p>

            </div>
            <div class="col-md-2 col-sm-12 col-6">
                <h5>Need Help</h5>
                <p>Contact Us</p>
                <p>Search Tips</p>
                <p>FAQ</p>
                <p>Technical</p>
            </div>
        </div>
    </div>
</footer>