<div id="overlay"></div>
<nav>
    <div class="left">
        <i class="fa fa-bars mx-2" onclick="show()" aria-hidden="true"></i>
        <span>BROWSE CATEGORIES</span>
    </div>
    <h5>imagebazar</h5>
    <div class="right">
        <span>Pricing</span>
        <button onclick="signup()">Signin</button>
    </div>

</nav>
<header>
    <div class="fields">
        <i class="fa fa-search" aria-hidden="true"></i>
        <input type="text" placeholder="search world's largest collection of images">
        <span>|</span>
        <select name="" id="">
            <option value="">Images</option>
            <option value="">Video</option>
        </select>
    </div>

</header>